@page "/students"

@using Grpc.Net.Client;

<h1>Students</h1>

@if (students == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>School</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in students)
      {
        <tr>
          <td>@item.StudentId</td>
          <td>@item.FirstName</td>
          <td>@item.LastName</td>
          <td>@item.School</td>
        </tr>
        }
    </tbody>
  </table>
}


@code {
  List<StudentModel> students = new List<StudentModel>();



  protected override async Task OnInitializedAsync()
  {
      await load();
  }

  protected async Task load()
  {
      var channel = GrpcChannel.ForAddress("http://localhost:5000");
      var studentClient = new RemoteStudent.RemoteStudentClient(channel);
      var studentInput = new StudentLookupModel { StudentId = 33 };

      var getAllReply = await studentClient.GetAllStudentsAsync(studentInput);

      foreach (StudentModel sm in getAllReply.Students) {
        students.Add(sm);
      }
  }

}

